{% extends 'base.html' %}
{% block content %}
  <h1>About the Pet Collector</h1>
  <hr />
  <p class="page-content">
    I have had animals since I was five years old. Growing up we hand raised
    parakeets, with an aviary with up to 40 parakeets. We had turtles, fish,
    tortoises, snakes, rats, hamsters, dogs, fish, lizards. If you can name it, I've
    most likely had it!
  </p>

  <p class="page-content">
    I love animals; they are a part of my everyday life. As an adult, I have
    the privilege of being called "The Dog Father" with three dogs and two
    cats. Plans to expand the fur family include a tortoise and chickens as of
    October 2025. But knowing my wife and I, that probably will not be enough!
  </p>
  <img src="{% static 'images/christmas.jpeg' alt='Christmas Puppies'}" />
{% endblock %}


