{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block content %}
<section>
    {% if not user.is_authenticated %}
    <form method="post" action="{% url 'home' %}" class="login">
        <h1>Login</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn submit">Login</button>
    </form>
    {% else %}
    <p>Welcome, {{ user.username }}!</p>
    {% endif %}
</section>
{% endblock %}

